body{
    background-color: #000;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
}
#title{
    position: fixed;
    top: -10px;
    width: 100%;
}
#flowchart{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.hover_event {
    cursor: pointer;
}

/* media css */
@media only screen and (max-width: 480px) {
    #flowchart{
        height: 95;
        height: calc(var(--vh, 1vh) * 100);
    }
    #title{
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #flowchart{
        position: absolute;
        top: -100px;
        height: 110%;
    }
}