* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: MisterPixel;
    src: url(../fonts/MisterPixelRegular.otf);
 }
 @font-face {
    font-family: bianzhidai;
    src: url(../fonts/bianzhidai_COLR/bianzhidai_COLR-back.otf);
}
body {
	overflow-y: hidden;
}
.slider {
	font-family: sans-serif;
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
    color: #fff;
    scroll-snap-type: x mandatory;
}
section {
	/* padding: 1rem; */
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	/* text-align: center; */
	position: relative;
}
h1	{
    position: fixed;
    top: 10px;
    left: 0;
    text-align: center;
    margin: 0 auto;
	color: white;
	width: 100%;
	font-size: calc(1rem + 3vw);
    z-index: 10;
    
}
p {
    width: 100%;
    position: relative;
    top: 10%;
}
.page_icon{
    z-index: 10;
    width: 100px;
    cursor: pointer;
}
.page_icon:hover {
    transform: scale(1.2);
}
.pages{
    position: absolute;
    padding: 2rem;
    min-width: 90vw;
	height: 100vh;
}
.icon_x{
    position: fixed;
    bottom: 30px;
    left: 30px;
}
.next_btn{
    position: inherit;
    display: block;
    float: right;
    height: 100px;
    bottom: 20px;
    right: 30px;
}
.page_count{
    position: inherit;
    display: block;
    bottom: 65px;
    left: 50%;
    font-family: "MisterPixel";
    font-size: 25px;
    margin-left: -50px;
    color: black;
}

