* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: MisterPixel;
    src: url(../fonts/MisterPixelRegular.otf);
 }
 @font-face {
    font-family: Bianzhidai;
    src: url(../fonts/bianzhidai_COLR/bianzhidai_COLR-back.otf);
}
@font-face {
    font-family: Chalet;
    src: url(../fonts/chalet-new-york-nineteen-seventy.otf);
}

body {
	overflow-y: hidden;
    /* scrollbar-color: #FD297B #FF655B; */
    /* scrollbar-color: #fff #E600FF; */
    height: 100vw;
}
.slider {
	font-family: sans-serif;
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
    color: #000;
    scroll-snap-type: x mandatory;
    /* background-image: linear-gradient(to right, #FD297B , #FF655B); */
    background-image: linear-gradient(to bottom,  #E600FF, #fff);
}
section {
	padding: 3rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}
h1	{
    position: fixed;
    top: calc(3rem);
    text-align: center;
    margin: 0 auto;
	width: 100%;
    /* font-family: "Chalet"; */
    font-family: "Bianzhidai";
	font-size: calc(1rem + 5vw);
    z-index: 10;
    color: #fff;
}
h2{
    position: fixed;
    top: calc(5rem + 3vw);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-family: "Bianzhidai";
    font-size: calc(1rem + 2vw);
    color: #fff;
}
h5{
    position: absolute;
    bottom: calc(1rem + 10vw);
    left: 50%;
    font-family: "MisterPixel";
    font-size: 25px;
    margin-left: -50px;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: white;
}
p{
    position: relative;
    width: 100%;
    height: 400px;
    position: relative;
    top: calc(5rem + 3vw);
    padding: 1rem;
    /* border: 1px solid #ddd; */
    border-radius: 1rem;
    overflow: auto;
}
.page_icon{
    z-index: 10;
    width: 100px;
    cursor: pointer;
    z-index: 1000;
}
.page_icon:hover {
    transform: scale(1.2);
}

.icon_x{
    position: fixed;
    bottom: 30px;
    left: 30px;
}
.icon_o{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.visibility_hidden{
    visibility: hidden;
}
.display_none{
    display: none;
}
.go_page{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.go_page:hover{
    color: #fff;
}
.footnote{
    color: white;
    font-size: 13px;
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    opacity: 0;
    width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding: 15px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -65px;
    transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
    opacity: 1;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

@media (min-width: 481px) {
    h2{
        top: calc(5rem + 5vw);
    }
    h5{
        bottom: calc(1rem + 4vw);
    }
    p{
        top: calc(5rem + 7vw);
    }
}